/* #region Imported Fonts */
@font-face {
    font-family: Monserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Monserrat-Semibold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Monserrat-Thin;
    src: url(../fonts/Montserrat-Thin.otf);
}
/* #endregion */

/* #region Animations */

/* #endregion */

/* #region Base */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #FFDD81;
}

* {
    box-sizing: border-box;
}
/* #endregion */

/* #region Initial */
.wrapper {
    display: flex;
    width: 100%;
    height: 40%;
    margin: 5% 0 0;
    align-items: center;
    justify-content: center;
}

.wrapper #logo {
    height: auto;
    width: 90%;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    text-decoration: none;
    font-size: 1.25vw;
    color: #ffffff;
    padding: 0.5em 0.5em;
    margin: 0.2em 0;
    background-color: #EA7221;
    border: 0.2em solid #72370F;
    border-radius: 2.6041666666666665vw;
    width: 17.5%;
    text-align: center;
    font-family: "Monserrat-Semibold";
    cursor: pointer;
}

.menu span {
    font-size: 2.0833333333333335vw;
    margin: 2.5%;
    font-family: "Monserrat-Regular";
}

.silhouette {
    height: 70%;
    width: auto;
    position: absolute;
    top: 20%;
    z-index: -1;
}

.silhouette#dog-silhouette {
    right: -10%;
}

.silhouette#cat-silhouette {
    left: -15%;
}
/* #endregion */

/* #region Pop-Up Panels  Base */
.overlay {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
    transition:0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay:target {
    display: flex;
}
/* #endregion */

/* #region New Game Panel */
.overlay#newGame .panel {
    z-index: 2;
    height: 50%;
    width: 40%;
    border: 15px solid #DB8B2F;
    border-radius: 30px;
    background-color: #F9DDA6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#newGame .panel .form span {
    font-size: 1.6666666666666667vw ;
    font-family: "Monserrat-Medium";
    position: relative;
    left: -30%;
    margin: 2.5% 0 0 0 ;
}

.overlay#newGame .panel .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay#newGame .panel .form input {
    width: 100%;
    height: 4.643962848297214vh;
    font-size: 1.6666666666666667vw;
    margin: 10px 0;
    font-family: "Monserrat-Medium";
    background-color: #FFEDCA;
    border-style: inset;
    border-radius: 20px;
    padding: 12px 20px;
}

.overlay#newGame .panel .form input.error {
    border: 1.5px solid red;
}

.overlay#newGame .panel .form .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.overlay#newGame .panel .form .buttons img {
    margin: 0 10px;
}

.overlay#newGame .panel .form .buttons #btn-ok {
    height: 5.159958720330238vh;
    cursor: pointer;
}

.overlay#newGame .panel .form .buttons #btn-cancel {
    height: 5.159958720330238vh;
    width: auto;
    cursor: pointer;
}

/* #endregion */


