/* #region Imported Fonts */
@font-face {
    font-family: Monserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Monserrat-Semibold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Monserrat-Thin;
    src: url(../fonts/Montserrat-Thin.otf);
}
/* #endregion */

/* #region Base */
html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    background-color: #FFDD81;
}

* {
    box-sizing: border-box;
}
/* #endregion */

/* #region Screen Layout */
.burger {
    height: 5.159958720330238vh;
    width: 2.6041666666666665vw;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #500303;
  overflow-x: hidden;
  padding-top: 4.12796697626419vh;
  transition: 0.3s;
}

/* <<<<<<< gamepage-revision */
.sidenav div {
  padding:  0.4167vw  0.4167vw  0.4167vw 1.67vw;
  text-decoration: none;
  font-size: 1.302083vw;
  font-family: "Monserrat-SemiBold";
  color: #FFF;
  display: block;
  transition: 0.2s;
  
/* ======= master
.menu a {
    text-decoration: none;
    color: black;
}

.menu div {
    font-size: 1.5em;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    font-family: "Monserrat-SemiBold";
*/
  
}

.sidenav div:hover {
  color: #FFDD81;
}

#turn {
    position: relative;
    background-color: #F9DDA6;
    height: 100%;
    max-height: 60px;
    min-width: 200px;
    position: absolute;
    bottom: 10%;
    left: 5%;
    border-radius: 50px;
    border: 5px solid #7A0606;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#turn img {
    right: -10%;
    height: 40px;
    width: 40px;
    margin: 0 25px;
}

#turn span {
    font-size: 2em;
    font-family: "Monserrat-SemiBold";
    margin: 0 25px 0 0;
}

/* #endregion */

/* #region Board Layout*/
.columnLegend {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -50px;
    font-family: "Monserrat-Regular";
}

.columnLegend div {
    height: 3.611971104231166vh;
    width: 5.208333333333333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.rowLegend {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -50px;
    font-family: "Monserrat-Regular";
}

.rowLegend div {
    height: 10.319917440660475vh;
    width: 1.8229166666666667vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.board {
    height: 84.6233230134159vh;
    width: 42.708333333333336vw;
    position: absolute;
    left: 30%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #7A0606;
    outline: 5px solid #500303;
}

.board .row {
    display: flex;
    flex-direction: row;
}

.board .cell {
    height: 10.319917440660475vh;
    width: 5.208333333333333vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.board .cell-gray {
    background-color: #8A8A8A;
}

/* #endregion */

/* #region How To Play Overlay */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
    position: absolute;
}

.overlay:target{
    display: flex;
}

.overlay .panel {
    background-color: #F9DDA6;
    border: 15px solid #DB8B2F;
    border-radius: 30px;
    height: 80vh;
    width: 40vw;
}

.overlay .panel .title {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    position: relative;
    top: 5%;
}

.overlay .panel .title div {
    font-size: 2em;
    font-family: "Monserrat-SemiBold";
    position: relative;
    left: 27.5%;
}

.overlay .panel .title a[href = "#"] {
    position: relative;
    left: 42.5%;
}

.overlay .panel .title a[href = "#"] img {
    height: 15%;
    max-height: 70px;
    min-height: 40px;
    width: auto;
}

/* #endregion */
