/* #region Imported Fonts */
@font-face {
    font-family: Monserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Monserrat-Semibold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Monserrat-Thin;
    src: url(../fonts/Montserrat-Thin.otf);
}
/* #endregion */

/* #region Animations */
.button:hover {
    transform: scale(1.1, 1.1);
    background-color: #DE5800;
}

.button:active {
    background-color: #D35400;
}

.overlay#newGame .panel .form .newGameButtons .button:hover {
    transform: scale(1.1, 1.1);
    background-color: #DE5800;
}

.overlay#newGame .panel .form .newGameButtons .button:active {
    background-color: #9C4003;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #btn-exit:hover{
    transform: scale(1.1, 1.1);
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #previous:hover{
    transform: scale(1.1, 1.1);
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #next:hover{
    transform: scale(1.1, 1.1);
}

/* #endregion */

/* #region Base */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #FFD3B5;
}

* {
    box-sizing: border-box;
    cursor: url(../res/custom_default.cur), auto;
}

/* #endregion */

/* #region Initial */
.wrapper {
    display: flex;
    width: 100%;
    height: 40%;
    margin: 5% 0 0;
    align-items: center;
    justify-content: center;
}

.wrapper #logo {
    height: auto;
    width: 90%;
    filter: drop-shadow(10px 5px 5px #72370F);
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 5%;
}

.button {
    text-decoration: none;
    font-size: 1.25vw;
    color: #ffffff;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.4em 0 0.4em 0;
    background-color: #FA771E;
    border: 0.2em solid #72370F;
    border-radius: 2.6041666666666665vw;
    width: 17.5%;
    text-align: center;
    font-family: "Monserrat-Semibold";
    cursor: url(../res/custom_pointer.cur), pointer;
    transition: 0.2s;
}

.button div {
    cursor: url(../res/custom_pointer.cur), pointer;
}

.menu span {
    font-size: 2.0833333333333335vw;
    margin: 2.5%;
    font-family: "Monserrat-Regular";
}

.silhouette {
    height: 70%;
    width: auto;
    position: absolute;
    top: 20%;
    z-index: -1;
}

.silhouette#dog-silhouette {
    right: -10%;
}

.silhouette#cat-silhouette {
    left: -15%;
}
/* #endregion */

/* #region Pop-Up Panels  Base */
.overlay {
    display: none;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
    transition:0.5s;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay:target {
    display: flex;
}
/* #endregion */

/* #region New Game Panel */
.overlay#newGame .panel {
    z-index: 2;
    height: 50%;
    width: 40%;
    border: 15px solid #EB8313;
    border-radius: 30px;
    background-color: #FFD3B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#newGame .panel .form span {
    font-size: 1.6666666666666667vw ;
    font-family: "Monserrat-SemiBold";
    position: relative;
    left: -30%;
    margin: 2.5% 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.overlay#newGame .panel .form input {
    width: 100%;
    height: 4.643962848297214vh;
    font-size: 1.6666666666666667vw;
    margin: 10px 0;
    font-family: "Monserrat-Regular";
    background-color: #FFE3CF;
    border-style: inset;
    border-radius: 20px;
    padding: 12px 20px;
}

.overlay#newGame .panel .form input.error {
    border: 1.5px solid red;
}

.overlay#newGame .panel .form .newGameButtons a {  
    text-decoration: none;
}

.overlay#newGame .panel .form .newGameButtons {  
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#newGame .panel .form .newGameButtons .button {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 1em 1em 0 1em;
    width: 100%;
}

/* #endregion */

/* #region How To Play panel */
.overlay#howToPlay .panel {
    z-index: 2;
    height: 70%;
    width: 40%;
    border: 15px solid #EB8313;
    border-radius: 30px;
    background-color: #FFD3B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#howToPlay .panel .slide {
    max-height: 70%;
    max-width: 40%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay#howToPlay .panel .active-slide {
    opacity: 1;
}

.overlay#howToPlay .panel .slide .title {
    font-size: 2.0833333333333335vw;
    font-family: "Monserrat-SemiBold";
    position: relative;
    margin-bottom: 1.0416666666666667vw;
}

.overlay#howToPlay .panel .slide .sub-title {
    font-size: 1.6666666666666667vw;
    font-family: "Monserrat-SemiBold";
    position: relative;
}

.overlay#howToPlay .panel .slide .desc {
    font-size: 1.1458333333333333vw;
    font-family: "Monserrat-Regular";
    position: relative;
    justify-content: center;
    text-align: center;
    max-width: 70%;
    margin: 1.1458333333333333vw 0 1.1458333333333333vw 0;
}

.overlay#howToPlay .panel .slide .pageNum {
    font-size: 1.1458333333333333vw;
    font-family: "Monserrat-Regular";
    margin-bottom: 0.5208333333333334vw;
}

.overlay#howToPlay .panel .slide .pieces img {
    height: 20.63983488132095vh;
    width: 7.291666666666667vw;
    position: relative;
    margin: 0 0 0.5208333333333334vw 0;
}

.overlay#howToPlay .panel .slide .castling img {
    height: 22.703818369453046vh;
    width: auto;
    position: relative;
}

.overlay#howToPlay .panel .slide .en-passant img {
    height: 22.703818369453046vh;
    width: auto;
    position: relative;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons img {
    height: 5.159958720330238vh;
    width: auto;
    cursor: url(../res/custom_pointer.cur), pointer;
    position: absolute;
    transition: 0.2s;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #btn-exit {
    position: absolute;
    top: 18%;
    left: 65.6%;
    transition: 0.2s;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #previous {
    padding-right: 0.2604166666666667vw;
    top: 76.5%;
    left: 47%;
    transition: 0.2s;

}

.overlay#howToPlay .panel .howToPlayButtons .buttons #next {
    padding-left: 0.2604166666666667vw;
    top: 76.5%;
    transition: 0.2s;
}

/* #endregion */

/* #region Audio */
.audioButtons {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 1vw;
    top: 2vh;
    cursor: url(../res/custom_default.cur), auto;
}
.audioButtons .toggleBtn {
    height: 5vh;
    width: 2.5vw;
    margin: 5px;
    cursor: url(../res/custom_pointer.cur), pointer;
    transition: 0.2s;
}

.audioButtons .toggleBtn:hover {
    transform: scale(1.1);
}
/* #endregion */
