/* #region Imported Fonts */
@font-face {
    font-family: Monserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: Monserrat-Semibold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family: Monserrat-Thin;
    src: url(../fonts/Montserrat-Thin.otf);
}
/* #endregion */

/* #region Animations */
.button:hover {
    transform: scale(1.1, 1.1);
    background-color: #DE5800;
}

.button:active {
    background-color: #D35400;
}

.overlay#newGame .panel .form .newGameButtons .button:hover {
    transform: scale(1.1, 1.1);
    background-color: #DE5800;
}

.overlay#newGame .panel .form .newGameButtons .button:active {
    background-color: #9C4003;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #btn-exit:hover{
    transform: scale(1.1, 1.1);
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #previous:hover{
    transform: scale(1.1, 1.1);
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #next:hover{
    transform: scale(1.1, 1.1);
}

.overlay#pawnPromotion .panel img:hover {
    height: 12.38390092879257vh;
    width: 4.6875vw;
    cursor: url(../res/custom_pointer.cur), pointer;
}

/* #endregion */

/* #region Base */
html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body {
    background-color: #FFD3B5;
}

* {
    box-sizing: border-box;
    cursor: url(../res/custom_default.cur), auto;
}

/* #endregion */

/* #region Screen Layout */
.burger {
    height: 7.223942208462332vh;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #500303;
  overflow-x: hidden;
  padding-top: 4.12796697626419vh;
  transition: 0.3s;
}

.sidenav a {
    text-decoration: none;
}

.sidenav div {
  padding:  0.4167vw  0.4167vw  0.4167vw 1.67vw;
  font-size: 1.302083vw;
  font-family: "Monserrat-SemiBold";
  color: #FFF;
  display: block;
  transition: 0.2s;
}

.sidenav div:hover {
  color: #FFD3B5;
  cursor: url(../res/custom_pointer.cur), pointer;
}

#turn {
    position: relative;
    background-color: #FFE3CF;
    height: 100%;
    max-height: 6.191950464396285vh;
    min-width: 10.416666666666666vw;
    position: absolute;
    bottom: 10%;
    left: 5%;
    border-radius: 2.6041666666666665vw;
    border: 0.2604166666666667vw solid #7A0606;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#turn img {
    right: -10%;
    height: 4.12796697626419vh;
    width: 2.0833333333333335vw;
    margin: 0 1.3020833333333333vw;
}

#turn span {
    font-size: 2em;
    font-family: "Monserrat-SemiBold";
    margin: 0 1.3020833333333333vw 0 0;
}
/* #endregion */

.button {
    text-decoration: none;
    font-size: 1.25vw;
    color: #ffffff;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 0.4em 0 0.4em 0;
    background-color: #FA771E;
    border: 0.2em solid #72370F;
    border-radius: 2.6041666666666665vw;
    width: 17.5%;
    text-align: center;
    font-family: "Monserrat-Semibold";
    cursor: url(../res/custom_pointer.cur), pointer;
    transition: 0.2s;
}

.button div {
    cursor: url(../res/custom_pointer.cur), pointer;
}

/* #region Board Layout*/
.columnLegend {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: -65px;
    font-family: "Monserrat-Regular";
}

.columnLegend div {
    height: 3.611971104231166vh;
    width: 5.208333333333333vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.rowLegend {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -65px;
    font-family: "Monserrat-Regular";
}

.rowLegend div {
    height: 10.319917440660475vh;
    width: 1.8229166666666667vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

@media only screen and (max-width: 1366px) {
    .rowLegend {
        left: -45px;
    }

    .columnLegend {
        top: -50px;
    }
}

.board {
    height: 83.59133126934985vh;
    width: 42.1875vw;
    position: absolute;
    left: 30%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.5208333333333334vw solid #7A0606;
    outline: 0.5208333333333334vw solid #500303;
}

.board .row {
    display: flex;
    flex-direction: row;
}

.board .cell {
    height: 10.319917440660475vh;
    width: 5.208333333333333vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    border: 0.2604166666666667vw solid rgba(255, 255, 255, 0.5);
}

.board .cell-gray {
    background-color: #8A8A8A;
}

/* #endregion */

/* #region History */
.history {
    height: 30vh;
    width: 25vw;
    background-color: #FFE3CF;
    position: absolute;
    top: 30vh;
    left: 1vw;
    border: solid 0.5em #7A0606;
    border-radius: 1.8229166666666667vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 90%;
    width: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.history ul::-webkit-scrollbar {
    z-index: -2;
    width: 0.78125vw;
    height: 90%;
    background-color: #7A0606;
    border-radius: 0.5208333333333334vw;
    border-top-right-radius: 0.5208333333333334vw;
    cursor: url(../res/custom_pointer.cur), pointer;
}

.history ul::-webkit-scrollbar-thumb {
    background-color: #EA7221;
    border-radius: 0.5208333333333334vw;
    cursor: url(../res/custom_pointer.cur), pointer;
}

.history ul li {
    height: 15%;
    width: 100%;
    position: relative;
    text-align: left;
    font-size: 0.75em;
    font-family: "Monserrat-SemiBold";
}

@media only screen and (min-width: 1920px){
    .history ul li {
        font-size: 1em;
    }
}
/* #endregion */

/* #region How To Play Overlay */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
    position: absolute;
}

.overlay:target{
    display: flex;
}

/* #endregion */

/* #region New Game Panel */
.overlay#newGame .panel {
    z-index: 2;
    height: 50%;
    width: 40%;
    border: 0.78125vw solid #EB8313;
    border-radius: 1.5625vw;
    background-color: #FFD3B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#newGame .panel .form span {
    font-size: 1.6666666666666667vw ;
    font-family: "Monserrat-SemiBold";
    position: relative;
    left: -30%;
    margin: 2.5% 0 0 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.overlay#newGame .panel .form input {
    width: 100%;
    height: 4.643962848297214vh;
    font-size: 1.6666666666666667vw;
    margin: 0.5208333333333334vw 0;
    font-family: "Monserrat-Regular";
    background-color: #FFE3CF;
    border-style: inset;
    border-radius: 1.0416666666666667vw;
    padding: 0.625vw 1.0416666666666667vw;
}

.overlay#newGame .panel .form input.error {
    border: 0.078125vw solid red;
}

.overlay#newGame .panel .form .newGameButtons a {  
    text-decoration: none;
}

.overlay#newGame .panel .form .newGameButtons {  
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#newGame .panel .form .newGameButtons .button {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 1em 1em 0 1em;
    width: 100%;
}
/* #endregion */

/* #region How To Play panel */
.overlay#howToPlay .panel {
    z-index: 2;
    height: 70%;
    width: 40%;
    border: 0.78125vw solid #EB8313;
    border-radius: 1.5625vw;
    background-color: #FFD3B5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay#howToPlay .panel .slide {
    max-height: 70%;
    max-width: 40%;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay#howToPlay .panel .active-slide {
    opacity: 1;
}

.overlay#howToPlay .panel .slide .title {
    font-size: 2.0833333333333335vw;
    font-family: "Monserrat-SemiBold";
    position: relative;
    margin-bottom: 1.0416666666666667vw;
}

.overlay#howToPlay .panel .slide .sub-title {
    font-size: 1.6666666666666667vw;
    font-family: "Monserrat-SemiBold";
    position: relative;
}

.overlay#howToPlay .panel .slide .desc {
    font-size: 1.1458333333333333vw;
    font-family: "Monserrat-Regular";
    position: relative;
    justify-content: center;
    text-align: center;
    max-width: 70%;
    margin: 1.1458333333333333vw 0 1.1458333333333333vw 0;
}

.overlay#howToPlay .panel .slide .pageNum {
    font-size: 1.1458333333333333vw;
    font-family: "Monserrat-Regular";
    margin-bottom: 0.5208333333333334vw;
}

.overlay#howToPlay .panel .slide .pieces img {
    height: 20.63983488132095vh;
    width: 7.291666666666667vw;
    position: relative;
    margin: 0 0 0.5208333333333334vw 0;
}

.overlay#howToPlay .panel .slide .castling img {
    height: 22.703818369453046vh;
    width: auto;
    position: relative;
}

.overlay#howToPlay .panel .slide .en-passant img {
    height: 22.703818369453046vh;
    width: auto;
    position: relative;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons img {
    height: 5.159958720330238vh;
    width: auto;
    cursor: url(../res/custom_pointer.cur), pointer;
    position: absolute;
    transition: 0.2s;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #btn-exit {
    position: absolute;
    top: 18%;
    left: 65.6%;
    transition: 0.2s;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #previous {
    padding-right: 0.2604166666666667vw;
    top: 76.5%;
    left: 47%;
    transition: 0.2s;
}

.overlay#howToPlay .panel .howToPlayButtons .buttons #next {
    padding-left: 0.2604166666666667vw;
    top: 76.5%;
    transition: 0.2s;
}
/* #endregion */

/* #region PawnPromotion */
.overlay#pawnPromotion .panel {
    height: 50vh;
    width: 25vw;
    position: absolute;
    right: 1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overlay#pawnPromotion .panel .title {
    font-size: 1.5em;
    font-family: "Monserrat-SemiBold";
    color: #FFFFFF;
    width: auto;
    margin-bottom: 10%;
}

.overlay#pawnPromotion .panel div.options {
    display: flex;
    flex-direction: row;
}

.overlay#pawnPromotion .panel div.options div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15.479876160990711vh;
    width: 7.8125vw;
    margin: 10px;
}

.overlay#pawnPromotion .panel .options span {
    font-family: "Monserrat-Regular";
    color: #FFFFFF;
}

.overlay#pawnPromotion .panel div img {
    height: 10.319917440660475vh;
    width: 3.6458333333333335vw;
    transition: all 0.2s;
    margin: 0.5208333333333334vw;
}
/* #endregion */

img#btnUndo {
    height: 10vh;
    width: auto;
    position: absolute;
    top: 65vh;
    left: 10vw;
    cursor: url(../res/custom_pointer.cur), pointer;
}

.overlay#endGame img {
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: 2.6041666666666665vw;
    right: 2.6041666666666665vw;
    cursor: url(../res/custom_pointer.cur), pointer;
}
